body {
    background-image: url(/static/images/10492h-cooking-ingredients-picture-in-hd.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}

 .navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}

h3{
    text-align: center;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
}

h1{
     text-align: center;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
}




