{% extends 'base.html' %} 

{% block content %}

   <div class="row">
    <ul class="collapsible" data-collapsible="accordion">
      {% for recipe in recipes %} 
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                     <a href= "{{ url_for('delete_recipe', recipes_id=recipe._id) }}" class="waves-effect waves-light btn btn_small red">Delete</a>
                    <a href= "{{ url_for('edit_recipe', recipes_id=recipe._id) }}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    
                </div>
                <div class=" task_header col s9">
                    <strong>{{recipe.recipe_name}}</strong> 
                </div>
            </div>
            <div class="collapsible-body white">
             <div class="col s9 name">
                <img src="{{ recipe.image }}" width="200" height="200"/>    
            </div>

                <span>
                    <h4> Ingredients </h4>
                    <p>{{ recipe.ingredients }}</p>
                    <br>
                    <h4>Utensils</h4>
                    {{ recipe.utensil_name }}
                    <br>
                    <h4>Method</h4>
                    <p>{{ recipe.meal_procedure }}</p>
                    
                </span>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}